/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
composer.lock
.phpstorm.meta.php
_ide_helper.php

# for netbeans
nbproject
/bootstrap/
/tests/
/config/
/modules/
/storage/
/composer.json
/ISSUE_TEMPLATE.md
/index.php
/phpunit.xml
/CHANGELOG.md
/server.php
/artisan
/CONTRIBUTING.md
/.htaccess
/.editorconfig
/.travis.yml
/.gitattributes

/plugins/*
!/plugins/stagiaire/
/plugins/stagiaire/*


!/plugins/stagiaire/faq

/plugins/inetis/*/vendor/

/themes/*
!/themes/themestage/
